<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
     <%# Partial for the head tag %>
    <%= render 'layouts/head' %>
     <%# Partial for the shim %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%# Partial for the header tag %>
    <%= render 'layouts/header' %>
      <div class="container">
    <%= yield %>
     <%# Partial for the footer %>
    <%= render 'layouts/footer' %>
  </body>
</html>
